# --- Serveur API (Microservice) ---
fastapi
uvicorn
pydantic
python-dotenv

# --- Synchronisation & Communication ---
httpx
requests

# --- Analyse de données et calcul ---
pandas
numpy
scikit-learn
joblib

# --- Algorithme de Boosting ---
lightgbm

# --- Connexion Base de données ---
pymongo
motor

# --- Tests et Validation ---
pytest
pytest-asyncio
anyio